.sidebar {
    flex: 1;
    height: calc(100vh - 60px);
    color: #555;
    background-color: rgb(249, 249, 250);
    position: sticky;
    top: 60px;
    min-width: 20%;
    overflow: auto;
    resize: horizontal;
    a{
        text-decoration: none;
        color: inherit;
    }
    &::-webkit-scrollbar {
        width: 2px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: darkblue;
    }

    .sidebar-wrapper {
        padding: 20px;
    }

    .sidebar-menu {
        margin-bottom: 10px;

        h3 {
            font-size: 13px;
            color: rgb(162, 179, 201);
        }
        ul {
            padding: 5px;
            list-style: none;
            .sidebar-list-item {
                padding: 5px;
                display: flex;
                align-items: center;
                cursor: pointer;
                border-radius: 10px;
                &:hover {
                    background-color: rgb(240, 240, 255);
                }
                &.active {
                    background-color: rgb(240, 240, 255);
                }
                .sidebar-icon {
                    margin-right: 8px;
                    font-size: 24px;
                }
            }
        }
    }
}
@media screen and (max-width: 1080px) {
    .sidebar{
        z-index: 1;
        min-width: min(280px, 70%);
        position: fixed;
        left: -280px;
        transition: all .5s ease-out;
        &.active{
            box-shadow: 0px 0px 200px rgba(0, 0, 0, 0.568);
            left: 0px;
        }
    }
}